{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltins": "usage"
            }
        ],
        [
            "@babel/preset-react",
            {
                "modules": false
            }
        ],
        
    ]
}